
<div class="textfield">
  <label class="textfield__content">
    <input class="textfield__input" type="{{type}}" name="{{name}}" id="{{name}}" placeholder="{{text}}">
    <span class="textfield__label">{{text}}</span>
  </label>
</div>