<label class="textfield__content">
  <input class="textfield__input" on:blur="blur" on:focus="focus" type="{{type}}" name="{{name}}" value="{{value}}" placeholder="{{label}}" >
  <div class="textfield__label">
    <span>{{label}}</span>
    {{{error}}}
  </div>
</label>
